In [13]:
# Preprocessing of opec_basket_price_daily.csv
import pandas as pd


# Load the daily data CSV
daily_data = pd.read_csv('opec_basket_price_daily.csv')

# Step 1: Handling missing values
# Check for missing values
print("Missing values per column:\n", daily_data.isnull().sum())

Missing values per column:
 Date       0
val     2332
dtype: int64

In [14]:
# Remove rows with missing values
daily_data.dropna(inplace=True)

In [15]:
daily_data.head()

         Date    val
0  2003-01-02  30.05
1  2003-01-03  30.83
4  2003-01-06  30.71
5  2003-01-07  29.72
6  2003-01-08  28.86

In [16]:
# Save the preprocessed data
daily_data.to_csv('opec_basket_price_daily_preprocessed.csv', index=False)

print("Preprocessed daily data saved as opec_basket_price_daily_preprocessed.csv")

Preprocessed daily data saved as opec_basket_price_daily_preprocessed.csv